name: README.md contributors

on:
    push:
        branches:
            - main
        paths-ignore:
          - 'README.md'
          - 'docs/contributing.md'

jobs:
    contrib-readme-job:
        runs-on: ubuntu-latest
        name: Update files
        permissions:
          contents: write
          pull-requests: write
        steps:
        
            - name: Contribute List in README.md
              uses: akhilmhdh/contributors-readme-action@v2.3.11
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  readme_path: README.md
